.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #000;
    /* text-align: center; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    margin-bottom: 20px;
    /* border-bottom: solid 1px black; */
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  