body{
  background-color: #333;
}

.container {
  background-color: whitesmoke;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 2px;
    border: 1px solid #000;
    /* text-align: center; */
    box-shadow: 0 0 10px white;
    border-radius: 8px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 5px;
  }
  